<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Page</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<section class="section-header">
    <div class="container">
        <h1 th:text="#{user.header}"></h1>
    </div>
</section>

<section>
    <div class="container">
        <form method="post" th:action="@{/user}" th:object="${User}">
            <label>
                Email:
                <input type="text" name="email">
                <ul th:if="${#fields.hasErrors('email')}">
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}">_Input is incorrect</li>
                </ul>
            </label>

            <label>
                User name:
                <input type="text" name="name">
                <ul th:if="${#fields.hasErrors('name')}">
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}">_Input is incorrect</li>
                </ul>
            </label>

            <label>
                User role:
                <input type="text" name="role">
                <ul th:if="${#fields.hasErrors('role')}">
                    <li th:each="err : ${#fields.errors('role')}" th:text="${err}">_Input is incorrect</li>
                </ul>
            </label>

            <label>
                User password:
                <input type="number" name="password">
                <ul th:if="${#fields.hasErrors('password')}">
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}">_Input is incorrect</li>
                </ul>
            </label>

            <button type="submit">SEND DATA</button>
        </form>
    </div>
</section>


<script src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>