<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>About Eventine</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div align="center">
    <h1>About Eventine</h1>
</div>


<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="index.html">Home</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="about.html">About</a>
            </div>
        </div>

        <div class="right-side">
            <div class="nav-link-wrapper">
                <a href="registration.html">LOG IN</a>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="two-column-wrapper">
            <div class="profile-image-wrapper">
                <img src="../static/images/eventine_group.jpg" alt="Eventine Group">
            </div>

            <div class="profile-content-wrapper">
                <h1>Hi, thanks for visiting our site.</h1>
                <p>This is the final project of our Java programming course which we attended from February 2021 until December 2021.</p>
                <p>We would like to show you what we have learnt so far :) </p>
                <p>Have an amazing day from Alenka, Natalia and Michal!</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>