<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>About Disc Golf Eventine</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div >
    <h1>About Disc Golf Eventine</h1>
</div>


<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="index.html">Home</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="about.html">About</a>
            </div>
        </div>

        <div class="right-side">
            <div class="nav-link-wrapper">
                <a href="registration.html">LOG IN</a>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="two-column-wrapper">
            <div class="profile-image-wrapper">
                <img src="../static/images/eventine_group.jpg" alt="Eventine Group">
            </div>

            <div class="profile-content-wrapper">
                <h2>Hi everyone :) </h2>
                <p>Welcome to our EVENTINE website.</p>
                <p>This is our final project of Java programming course which we attended from
                    February 2021 until December 2021.
                    <p>After registration on our website
                    you can create your own disc golf session and invite your friends to play with you.
                    Set the date and time of your game and send the link to other players.</p>

                <p>Have fun and spend a nice time with your friends.</p>
                <p>Sending regards from Alenka, Natalia and Michal!</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>