<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Disc Golf Eventine</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>

<div align="center">
    <h1>Disc Golf Eventine</h1>
</div>


<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a th:href="@{index}">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a th:href="@{about}">About</a>
            </div>
        </div>

        <div class="right-side">
            <div class="nav-link-wrapper">
                <a th:href="@{registration}">Registration</a>
            </div>
        </div>

    </div>
        <div class="profile-content-wrapper" align="center">
            <h1>Successfully assigned to event</h1>
            </div>
    </div>

</body>
</html>