<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Disc Golf Eventine</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

<div align="center">
    <h1>Disc Golf Eventine</h1>
</div>


<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a th:href="@{index}">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a th:href="@{about}">About</a>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a th:href="@{login}">Log in</a>
            </div>
            <div class="nav-link-wrapper">
                <a th:href="@{registration}">Register</a>
            </div>
        </div>
    </div>


</div>
<div class="profile-content-wrapper" align="center">
    <h1>Participants</h1>
</div>

<div class="comment-container">
    <ol th:each="name: ${participants}">
        <li class="comment-body" th:text="${name}">
        </li>
    </ol>
</div>

<div class="comment-section">
    <div class="chat-popup" id="myForm">
        <form class="form-container" action="#" th:action="@{application_to_event}" th:object="${participation}"
              method="post">

            <button type="submit" class="btn">Apply</button>
        </form>
    </div>
</div>
</body>
</html>