<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Disc Golf Eventine</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper active-nav-link">
                <a th:href="@{index}">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a th:href="@{about}">About</a>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a th:href="@{login}">Log in</a>
            </div>
            <div class="nav-link-wrapper">
                <a th:href="@{registration}">Register</a>
            </div>
        </div>
    </div>
</div>
<div class="comment-section">
<div class="comment-container">
    <ol th:each="commentDTO: ${listOfComments}">
        <li class="comment-body" th:text="${commentDTO.body}">
           <label class="publisher" th:text="${publisher}"></label>
        </li>
    </ol>
</div>
</div>
    <div class="comment-section">
<div class="chat-popup" id="myForm">
    <form class="form-container" action="#" th:action="@{comment}" th:object="${comment}" method="post">
        <h1>Comment</h1>

        <label><b>Message</b></label>
        <textarea th:field="*{body}" placeholder="Write comment (500 character maximum)" name="msg" required></textarea>

        <button type="submit" class="btn">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
</div>

</body>
</html>