<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc Golf Eventine - home page</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <script src="http://localhost:35729/livereload.js"></script>

</head>
<body>
<div>
    <h1>Welcome to Disc Golf Eventine</h1>

</div>


<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper active-nav-link">
                <a th:href="@{index}">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a th:href="@{about}">About</a>
            </div>
        </div>

        <div class="right-side">
            <div class="nav-link-wrapper">
                <a th:href="@{login}">Log in</a>
            </div>
            <div class="nav-link-wrapper">
                <a th:href="@{registration}">Register</a>
            </div>
        </div>
    </div>

    <div class="event-container">

        <h3 class="title">Forthcoming events
            <p class="position_of_button">
                <a th:href="@{event_form}">
                    <button class="button-33" role="button">Create new event</button>
                </a>
            </p>
        </h3>

        <ol th:each="event: ${listOfEvents}">
            <li class="event">

                <div class="event-left">
                    <div class="event-img">
                        <img src="../images/disc-golf-basket-animated.jpg" alt="disc_golf">
                    </div>
                </div>

                <div class="event-right">
                    <h3 class="event-title" th:block th:text="${event.name}">Some title here</h3>


                    <div class="event-timing">

                        <label>Start:</label>
                        <div class="event-start" th:block th:text="${event.start}"><span
                                style="color:black;font-weight: bold"> Start time: </span>
                            15.02.2022 at 10:00
                        </div>

                        <label>End:</label>
                        <div class="event-end" th:block th:text="${event.end}"><span
                                style="color:black;font-weight: bold"> End time: </span>
                            16.02.2022 at 13:00
                        </div>

                    </div>

                    <div class="event-description" th:block th:text="${event.description}">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,

                    </div>


                    <label>Capacity:</label>
                    <div class="event-capacity" th:block th:text="${event.capacity}"><span
                            style="color:black;font-weight: bold"> Capacity: </span>
                        15
                    </div>

                    <span
                    class="button-field">      <span class="position_of_button">
                        <a th:href="@{application_to_event}" th:action="@{application_to_event}">
                            <button class="button-33" role="button">Attend</button>
                        </a>
                    </span>
                <span class="position_of_button">
                    <a th:href="@{comment}" th:action="@{comment}">
                        <button class="button-33" role="button">Comments</button>
                    </a>
                </span>
            </span>

                </div>
            </li>
        </ol>
    </div>
</div>
</body>
</html>