<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who we are</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="index.html">Welcome to Eventine</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="register_form.html">Register here</a>
            </div>
        </div>

        <div class="right-side">
            <div class="brand">
                <div>WHO WE ARE</div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="portfolio-items-wrapper">

            <div class="portfolio-item-wrapper">
                <div class="portfolio-img-background" style="background-image: url(../playground.jpg)"></div>

                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="images/logos/quip.png" alt="">
                    </div>

                    <div class="subtitle">
                        This is the list of throwen golf events in 2021
                    </div>
                </div>
            </div>

            <div class="portfolio-item-wrapper">
                <div class="portfolio-img-background" style="background-image: url(../golftournament.jpg)"></div>

                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="images/logos/quip.png" alt="">
                    </div>

                    <div class="subtitle">
                        This is the list of golf events in spring 2022
                    </div>
                </div>
            </div>


            <div class="portfolio-item-wrapper">
                <div class="portfolio-img-background" style="background-image: url(static.image/portfolio1.jpg)"></div>

                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="images/logos/quip.png" alt="">
                    </div>


                    <div class="subtitle">This is the list of golf events in summer 2022</div>
                </div>
            </div>


        </div>
    </div>


</div>
</body>
<script>
    const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper')

    portfolioItems.forEach(portfolioItem => {
        portfolioItem.addEventListener('mouseover', () => {
            console.log(portfolioItem.childNodes[1].classList);
            portfolioItem.childNodes[1].classList.add('img-darken');
        })
        portfolioItem.addEventListener('mouseout', () => {
            console.log(portfolioItem.childNodes[1].classList);
            portfolioItem.childNodes[1].classList.remove('img-darken');
        })

    })
</script>

</html>



